.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 60rem;
  font-weight: 200;
}

.reasonElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12pt;
  outline: 1px solid #00000052;
  margin-right: 0.8rem;
  margin-top: 0.35rem;
  height: 30px;
  padding-left: 0.5rem;
}

.reasonText {
  padding-top:0;
}

.deleteButton {
  cursor: pointer;
  background-color: rgb(88, 172, 134);
  color: white;
  margin-left: 0.5rem;
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}